@font-face {
    font-family: 'AvenirNextCyrLight';
    src: url('AvenirNextCyrLight/AvenirNextCyrLight.eot');
    src: url('AvenirNextCyrLight/AvenirNextCyrLight.eot') format('embedded-opentype'),
         url('AvenirNextCyrLight/AvenirNextCyrLight.woff2') format('woff2'),
         url('AvenirNextCyrLight/AvenirNextCyrLight.woff') format('woff'),
         url('AvenirNextCyrLight/AvenirNextCyrLight.ttf') format('truetype'),
         url('AvenirNextCyrLight/AvenirNextCyrLight.svg#AvenirNextCyrLight') format('svg');
}
