@font-face {
    font-family: 'AvenirNextCyrBold';
    src: url('AvenirNextCyrBold/AvenirNextCyrBold.eot');
    src: url('AvenirNextCyrBold/AvenirNextCyrBold.eot') format('embedded-opentype'),
         url('AvenirNextCyrBold/AvenirNextCyrBold.woff2') format('woff2'),
         url('AvenirNextCyrBold/AvenirNextCyrBold.woff') format('woff'),
         url('AvenirNextCyrBold/AvenirNextCyrBold.ttf') format('truetype'),
         url('AvenirNextCyrBold/AvenirNextCyrBold.svg#AvenirNextCyrBold') format('svg');
}
