@font-face {
    font-family: 'AvenirNextCyrDemi';
    src: url('AvenirNextCyrDemi/AvenirNextCyrDemi.eot');
    src: url('AvenirNextCyrDemi/AvenirNextCyrDemi.eot') format('embedded-opentype'),
         url('AvenirNextCyrDemi/AvenirNextCyrDemi.woff2') format('woff2'),
         url('AvenirNextCyrDemi/AvenirNextCyrDemi.woff') format('woff'),
         url('AvenirNextCyrDemi/AvenirNextCyrDemi.ttf') format('truetype'),
         url('AvenirNextCyrDemi/AvenirNextCyrDemi.svg#AvenirNextCyrDemi') format('svg');
}
