/**
Header
*/
.btn-color{
	background: #2687ff;
	position: relative;
	width: 300px;
	text-transform: uppercase;
	border: 0;
	display: inline-block;
	height: 65px;
	line-height: 67px;
	font-size: 16px;
	color: #fff;
	font-family: 'AvenirNextCyrBold';
}
.btn-color:hover,
.lead_btn a:hover,
.push_btn:hover a{
	color: #fff;
	background: #0072ff;
}

.no-arrow:after{
	content: "";
}
.header{
	padding: 16px 0;
}

.hdr_left_content{
	padding-left: 87px;
	position: relative;
	padding-top: 17px;
	padding-bottom: 13px;
}
.hdr_left_content .hdr_logo{
	position: absolute;
	left: 0;
	top: 0;
}
.hdr_left_content .hdr_logo h1{
	margin: 0;
	font-size: 35px;
}
.hdr_left_content .hdr_logo h1 img{
	vertical-align: top;
}
.hdr_left_content .hdr_logo h1 a{
	display: inline-block;
}
.header .hdr_nav ul{
	list-style-type: none;
	padding-left: 0px;
	margin-bottom: 0px;

}
.header .hdr_nav ul li{
	float: left;
	position: relative;
	padding-left: 47px;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;	
}
.header .hdr_nav ul li:first-child{
	padding-left: 0px;
}
.header .hdr_nav ul li:before{
	position: absolute;
    content: "\f0c8";
    font-family: FontAwesome;
    font-size: 6px;
    color: #2687ff;	
    left: 21px;
    top: 0px;
    transform: rotate(47deg);
}
.header .hdr_nav ul li:first-child:before{
	    content: "";
}
.header .hdr_nav ul li a{
	font-family: 'AvenirNextCyrBold';
	color: #010101;
	display: inline-block;
	transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	
}
.header .hdr_nav ul li a:hover{
	color: #2687ff;
}
.header .hdr_contact{
	margin: 13px 0 0;
	float: right;

}
.header .hdr_contact a{
	font-size: 19px;
	line-height: 17px;
	float: left;
	font-family: 'AvenirNextCyrRegular';
}
.header .hdr_contact a span,
.hdr_contact a.phn i{
	display: inline-block;
	vertical-align: top;
}
.header .hdr_contact a span:last-child{
	color: #010101;
	font-family: 'AvenirNextCyrBold';
}
.hdr_contact a.phn{
	margin-right: 27px;
	outline: 0;
	color: #636363;
	line-height: 19px;
}
.hdr_contact a.phn:focus,
.hdr_contact a.phn:hover{
	outline: 0;
}
.hdr_contact a.phn i{
	padding-right: 10px;
	color: #000000;
	padding-top: 1px;
}

.hdr_contact a.phn:hover i{
	color: #2687ff;
} 
.header .hdr_contact a.linkedin,
.header .hdr_contact a.fb,
.header .hdr_contact a.inst{
	color: #2687ff;
	font-size: 17px;
	margin-right: 7px;
	-webkit-text-shadow: 0px 7px 10px rgba(224, 225, 226, 1);
	-moz-text-shadow:    0px 7px 10px rgba(224, 225, 226, 1);
	text-shadow:         0px 7px 10px rgba(224, 225, 226, 1);	
}
.header .hdr_contact a.inst{
	margin-right: 0px;
}
.header .hdr_contact a:hover{
	color: #000;
	text-shadow: none;
}
.header .hdr_contact a.fb{
	margin-right: 9px;
}
/**
lead_section
*/
.lead_section,
.mediation_sec{
	text-align: center;
	background: url(images/lead_banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 39px 0 156px;
	font-family: 'AvenirNextCyrLight';
	line-height: 21px;
	position: relative;
}
.lead_content img{
	padding-bottom: 80px;
}
.lead_content p,
.lead_content a, 
.lead_content span{
	color: #fff;
}
.lead_content h1,
.mediation_content h1,
.about_cnt h1,
.grows_sec h1,
.micel_sec h1{
 	font-family: 'AvenirNextCyrDemi';
 	font-size: 48px;
 	line-height: 36px;
 	color: #fff;
 	text-transform: uppercase;	
 	margin: 0px;
}
.lead_content h1:after,
.mediation_content h1:after{
	content: "";
	width: 30px;
	height: 3px;
	background-color: #2687ff;
	display: block;
	margin: 34px auto 30px;
}
.lead_btn{
	margin: 69px auto 0;
	background: #269bff;
	max-width: 404px;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 14px;	
	font-family: 'AvenirNextCyrBold';	
}
.lead_btn a{
	text-transform: uppercase;	
	background: #2687ff;
	border: none;
	width: 311px;
	padding: 30px 0 27px;
	float: left;
}

.lead_btn span{
	padding: 30px 0 27px;
	display: block;
	display: inline-block;
	position: relative;
}
.lead_btn span:after{
	content: "\f0d7";
	font-family: FontAwesome;
	margin-left: 12px;
	font-size: 16px;
	position: absolute;

}
.diamond_arrow{
	background: url(images/diamond_arrow.png);
	background-repeat: no-repeat;
	width: 15px;
	height: 75px;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 5;
	bottom: -38px;
	margin: 0 auto;
}
/**
mediation_sec
*/
.mediation_sec{
	background-image: url(images/mediation_banner.jpg);
	background-repeat: no-repeat;
	padding: 80px 0 239px;
	background-size: cover;
	background-position: center;
	color: #282828;
	font-family: 'AvenirNextCyrMedium';
	font-size: 18px;
	line-height: 21px;	
}
.mediation_content{
	padding-bottom: 98px;
}
.mediation_content h1{
	color: #282828;
}
.mediation_content h1:after{
	margin: 43px auto 35px; 
}
.increases{
	font-size: 18px;
	line-height: 22px;
	font-family: 'AvenirNextCyrLight';
}
.increases h5{
	margin: 23px 0 32px;
	font-family: 'AvenirNextCyrBold';
	font-size: 20px;
	line-height: 15px;
}
.push_btn{
	margin: 70px auto 0px;
	max-width: 311px;
}
.push_btn a{
	background: #2687ff;
	display: block;
	padding: 28px 0 25px;
	font-family: 'AvenirNextCyrBold';
	line-height: 12px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
    -ms-box-shadow: 0px 8px 100px 0 rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 8px 100px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0px 8px 100px 0 rgba(0, 0, 0, 0.35);	
}
/**
about_sec
*/
.about_sec{
	background: url(images/about_banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 717px;
}
.all_situations{
	margin-top: -155px;
}
.about_sec .hilf_col{
	position: relative;
	height: 299px;
	border-top: 1px solid #fff;
	border-bottom: .1px solid #f3f3f3;
}
.about_sec .hilf_col_inner{
	position: relative;
	transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	margin-top: 24px;	
}
.about_sec .hilf_col span{
	width: 3px;
	height: 34px;
	background: #2687ff;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 2;
	margin: 0 auto;
	bottom: -8px;
}

.about_sec .hilf_col_inner h5{
	 margin: 0;
	 text-transform: uppercase;
	 font-family: 'AvenirNextCyrBold';
	 font-size: 21px;
	 line-height: 20px;
	 color: #fff;
	 position: absolute;
	 left: 0;
	 right: 0;
	 text-align: center;
	 top: 50%;
	 z-index: 2;
	 transform: translateY(-50%);	 
	 -webkit-transform: translateY(-50%);
	 -ms-transform: translateY(-50%);	 
}
.about_sec .hilf_col_inner .hilf_shadow{
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 0;
	z-index: 1;
	background: url(images/shadow.png) no-repeat;
	background-size: cover;
	transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
}
.about_sec .hilf_col_inner a{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
}
.about_sec .hilf_col_inner img{
	width: 100%;
}
.about_sec .hilf_col_inner:hover a{
	display: block;
}
.about_sec .hilf_col_inner:hover{
	 margin-top: 2px;
	-webkit-box-shadow: 0 20px 40px 0px rgba(200, 200, 200, 0.75);
	-moz-box-shadow:    0 20px 40px 0px rgba(200, 200, 200, 0.75);
	box-shadow:         0 20px 40px 0px rgba(200, 200, 200, 0.75);
}
.about_sec .hilf_col_inner:hover .hilf_shadow{
	height: 100%;
}
.about_sec .hilf_col:hover span{

}


.avater_details{
	margin: 179px auto 0;
}
.avater_details .col-sm-offset-1{
	margin-left: 4.333%;
}
.avater_details .col-sm-6{
	padding-left: 44px;
}
.about_cnt{
	color: #707070;
    line-height: 20px;
    font-size: 16px;
}
.avtr_smaile{
	float: right;
}
.about_cnt h1{
	color: #282828;
	margin-bottom: 34px;
}
.about_cnt h5{
	font-size: 20px;
	line-height: 15px;
	color: #848484;
	font-family: 'georgiai';
	margin: 0px;
}
.about_cnt h5:after{
	content: url(images/right_diamond.png);
	background-repeat: no-repeat;
	width: 189px;
	height: 19px;
	display: block;
	margin: 22px 0 23px;
	margin-left: -120px;
}
/**
grows_sec
*/
.grows_sec{
	background: url(images/grows_banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 229px 0 164px;
	text-align: center;
}
.grows_content{
	max-width: 974px;
	margin: 0 auto;
}
.grows_sec h1{
	color: #282828;
	line-height: 58px;
	padding-bottom: 100px;
}
.business_cnt,
.busins_last_cont{
	background: url(images/attitude.jpg);
	background-size: cover; 
	background-repeat: no-repeat;
	width: 100%;
	height: 509px;
	padding: 62px 77px 54px;
	font-size: 18px;
	line-height: 21px;
	position: relative;
	color: #fff;
}
.business_cnt_inner{
	position: relative;
	z-index: 2;
}
.busins_last_cont{
	background: url(images/consult.jpg);
}
.business_cnt:after{
	content: url(images/strong_entity.png);
	background-repeat: no-repeat;
	width: 69px;
	height: 69px;
	position: absolute;
	right: -50px;
	top: 136px;
	z-index: 2;
}
.business_cnt .business_opacity{
	background: url(images/consult_shadow.png) no-repeat;
	background-size: cover;
	border: 1px solid #2687ff;
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;

}
.business_cnt:hover .business_opacity{
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
/*.business_cnt:hover a{
	background: #2687ff;
}*/

.busins_last_cont:after{
	display: none;

}
.business_cnt h2{
	font-size: 32px;
	line-height: 33px;
	font-family: 'AvenirNextCyrDemi';
}
.business_cnt h2:after{
	content: "";
	display: block;
	background: #2687ff;
	width: 43px;
	height: 3px;
	margin: 17px auto 25px;
}
.business_praghraph{
	min-height: 174px;
}
.learn_btn{
	width: 311px;
}
.business_cnt a{
	border: 1px solid #2687ff;
	text-transform: uppercase;
	padding: 22px 0 20px;
	display: block;
	font-family: 'AvenirNextCyrBold';
	color: #fff;
	text-decoration: none;
}
.business_cnt a:hover{
	background: #2687ff;
}
.business_cnt a:after{
	content: url(images/pimgpsh_fullsize_distr.png);
	width: 15px;
	height: 12px;
	margin-left: 13px;
	font-weight: normal;
}

/**
--------------------
Micel section
--------------------
*/
.micel_sec{
	background: #f3f3f3 url(images/micel_banner.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 143px 0 70px;
	color: #757575;
	line-height: 22px;
}
.blog .micel_sec{
	padding-bottom: 20px;
}
.micel_sec h1{
	text-align: center;
	color: #282828;
	padding-bottom: 114px;
}
.cat_img_box{
	position: relative;
	margin-bottom: 40px;
	-ms-box-shadow: 0px 6px 60px 0px rgba(0, 0, 0, 0.30);	
	-webkit-box-shadow: 0px 6px 60px 0px rgba(0, 0, 0, 0.30);	
	box-shadow: 0px 6px 60px 0px rgba(0, 0, 0, 0.30);	
}
.cat_img_box img{
	max-width: 100%;
	width: 100%;
}
.box-hover{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 0;
	-ms-transition: width 0.3s;
	-webkit-transition: width 0.3s;
	transition: width 0.3s;
}
.box-hover span{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	z-index: 2;
}

.cat_img_box:hover .box-hover{
	right: 0;
	width: 100%;
}
.cat-title{
	color: #30ab56;
	display: block;
	font-family: 'georgiai';
	line-height: 16px;
}

.cat_item h3{
	color: #282828;
	font-size: 24px;
	line-height: 20px;
	text-transform: uppercase;
	font-family: 'AvenirNextCyrDemi';
	margin-top: 30px;
}
.cat_item h3:after{
	content: "";
	background: #2687ff;
	width: 49px;
	height: 3px;
	display: block;
	margin: 28px 0 20px;
}
a.read_more, a.bnr_transparent_btn{
	display: inline-block;
	vertical-align: baseline;
	vertical-align: top;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 11px;
	color: #74aaff;
	text-decoration: none;
	padding: 13px 0 12px;
	border: 1px solid #2687ff;
	margin-top: 15px;
	overflow: initial;
	width: 114px;
	height: 38px;
	text-align: center;
    font-family: 'AvenirNextCyrLight';
}

a.read_more:hover{
	background: #2687ff;
	color: #d7e5ff;
	-webkit-box-shadow: 2px 11px 16px 1px rgba(206, 228, 258, 1);
	-moz-box-shadow: 2px 11px 16px 1px rgba(206, 228, 258, 1);
	box-shadow: 2px 11px 16px 1px rgba(206, 228, 258, 1);			
}

/**
-------------
Blog page
-------------
*/
.blog .micel_sec{
	padding-top: 0px;
}
a.bnr_transparent_btn{
	display: inline-block;
	vertical-align: baseline;
	color: #2573d9;
	padding-top: 12px;
    font-size: 14px;
    margin-top: 40px;
}

.blog .banner_content{
	margin: 135px 0 0 200px;
	color: #f5f6f6;
	text-align: left;
	max-width: 520px;

}
.blog .banner_content h1{
	color: #fff;
	line-height: 60px;
	margin: 35px 0 20px;
}
.bnr-cat-title{
	position: relative;
	padding-bottom: 18px;
    font-family: 'georgiai';
    display: inline-block;
    vertical-align: baseline;
}
.bnr-cat-title:after{
	content: "";
	background:#2687ff;
	width: 30px;
	height: 3px;
	position: absolute;
	top: 100%;
	left: 0;
}

ul.filter_menu{
	margin: -35px 0 25px 0;
	padding: 0;
	list-style: none;
}
ul.filter_menu li{
	float: left;
}
ul.filter_menu li a{
	display: block;
	width: 170px;
	height: 69px;
	background: #ffffff;
	margin:0 30px 30px 0; 
	text-align: center;
	color: #c2c2c2;
	text-transform: uppercase;
	font-size: 15.92px;
	padding-top: 25px;
	text-decoration: none;
}
ul.filter_menu li a.is-checked,
ul.filter_menu li a:hover{
	background: #ff9626 url(images/cicle-transparent-bg.png);
	color: #fff;
    font-family: 'AvenirNextCyrBold';
    background-position: center center;
}
ul.filter_menu li:last-child a{
	margin-right: 0;
}
.cat_des{
	min-height: 237px;
}
.cat_item{
	margin-bottom: 80px;
}


/**
Footer
*/
.footer{
	background: #2a2e3a;
	padding: 34px 0 58px;
	
}
.frt_top{
	margin-bottom: 32px;
}
.ftr_scl_icons{
	margin-top: 20px;
	float: right;
}
.ftr_scl_icons span{
	color: #53596d;
	line-height: 15px;
	float: left;
	margin-right: 32px;
	margin-top: 3px;
}
.ftr_scl_icons a{
	float: left;
	margin-right: 19px;
	background-repeat: no-repeat;
	transition: all .2s ease-in-out;	
	-ms-transition: all .2s ease-in-out;	
	-webkit-transition: all .2s ease-in-out;
	color: #2687ff;	
}
.ftr_scl_icons a:hover{
    -webkit-text-shadow: 0px 5px 8px rgba(38, 135, 255, 1);
    -moz-text-shadow: 0px 5px 8px rgba(38, 135, 255, 1);
    text-shadow: 0px 5px 8px rgba(38, 135, 255, 1);	
}
.ftr_scl_icons a:last-of-type{
	margin-right: 0px;
}
.copyright span{
	color: #53596d;
	display: block;
}
ul.trms_and_policy{
	float: right;
	list-style-type: none;
	margin-bottom: 0px;
	padding-left: 0px;
}
ul.trms_and_policy li{
	float: left;
	margin-right: 49px;
}
ul.trms_and_policy li:last-of-type{
	margin-right: 0px;
}
ul.trms_and_policy a{
	display: block;
	color: #2775d9;
}
ul.trms_and_policy a:hover{
	color: #fff;
}
.imgwrap{
	display: table;
	min-height: 145px;
	width: 100%;
}
.imgholder{
	display: table-cell;
	vertical-align: middle;
}