@font-face {
    font-family: 'OpenSansRegular';
    src: url('OpenSansRegular/OpenSansRegular.eot');
    src: url('OpenSansRegular/OpenSansRegular.eot') format('embedded-opentype'),
         url('OpenSansRegular/OpenSansRegular.woff2') format('woff2'),
         url('OpenSansRegular/OpenSansRegular.woff') format('woff'),
         url('OpenSansRegular/OpenSansRegular.ttf') format('truetype'),
         url('OpenSansRegular/OpenSansRegular.svg#OpenSansRegular') format('svg');
}


@font-face {
    font-family: 'AvenirNextCyrBold';
    src: url('AvenirNextCyrBold/AvenirNextCyrBold.eot');
    src: url('AvenirNextCyrBold/AvenirNextCyrBold.eot') format('embedded-opentype'),
         url('AvenirNextCyrBold/AvenirNextCyrBold.woff2') format('woff2'),
         url('AvenirNextCyrBold/AvenirNextCyrBold.woff') format('woff'),
         url('AvenirNextCyrBold/AvenirNextCyrBold.ttf') format('truetype'),
         url('AvenirNextCyrBold/AvenirNextCyrBold.svg#AvenirNextCyrBold') format('svg');
}


@font-face {
    font-family: 'AvenirNextCyrRegular';
    src: url('AvenirNextCyrRegular/AvenirNextCyrRegular.eot');
    src: url('AvenirNextCyrRegular/AvenirNextCyrRegular.eot') format('embedded-opentype'),
         url('AvenirNextCyrRegular/AvenirNextCyrRegular.woff2') format('woff2'),
         url('AvenirNextCyrRegular/AvenirNextCyrRegular.woff') format('woff'),
         url('AvenirNextCyrRegular/AvenirNextCyrRegular.ttf') format('truetype'),
         url('AvenirNextCyrRegular/AvenirNextCyrRegular.svg#AvenirNextCyrRegular') format('svg');
}


@font-face {
    font-family: 'AvenirNextCyrDemi';
    src: url('AvenirNextCyrDemi/AvenirNextCyrDemi.eot');
    src: url('AvenirNextCyrDemi/AvenirNextCyrDemi.eot') format('embedded-opentype'),
         url('AvenirNextCyrDemi/AvenirNextCyrDemi.woff2') format('woff2'),
         url('AvenirNextCyrDemi/AvenirNextCyrDemi.woff') format('woff'),
         url('AvenirNextCyrDemi/AvenirNextCyrDemi.ttf') format('truetype'),
         url('AvenirNextCyrDemi/AvenirNextCyrDemi.svg#AvenirNextCyrDemi') format('svg');
}

@font-face {
    font-family: 'AvenirNextCyrLight';
    src: url('AvenirNextCyrLight/AvenirNextCyrLight.eot');
    src: url('AvenirNextCyrLight/AvenirNextCyrLight.eot') format('embedded-opentype'),
         url('AvenirNextCyrLight/AvenirNextCyrLight.woff2') format('woff2'),
         url('AvenirNextCyrLight/AvenirNextCyrLight.woff') format('woff'),
         url('AvenirNextCyrLight/AvenirNextCyrLight.ttf') format('truetype'),
         url('AvenirNextCyrLight/AvenirNextCyrLight.svg#AvenirNextCyrLight') format('svg');
}

@font-face {
    font-family: 'AvenirNextCyrMedium';
    src: url('AvenirNextCyrMedium/AvenirNextCyrMedium.eot');
    src: url('AvenirNextCyrMedium/AvenirNextCyrMedium.eot') format('embedded-opentype'),
         url('AvenirNextCyrMedium/AvenirNextCyrMedium.woff2') format('woff2'),
         url('AvenirNextCyrMedium/AvenirNextCyrMedium.woff') format('woff'),
         url('AvenirNextCyrMedium/AvenirNextCyrMedium.ttf') format('truetype'),
         url('AvenirNextCyrMedium/AvenirNextCyrMedium.svg#AvenirNextCyrMedium') format('svg');
}


@font-face {
    font-family: 'georgiai';
    src: url('georgiai/georgiai.eot');
    src: url('georgiai/georgiai.eot') format('embedded-opentype'),
         url('georgiai/georgiai.woff2') format('woff2'),
         url('georgiai/georgiai.woff') format('woff'),
         url('georgiai/georgiai.ttf') format('truetype'),
         url('georgiai/georgiai.svg#georgiai') format('svg');
}
