@font-face {
    font-family: 'georgiai';
    src: url('georgiai/georgiai.eot');
    src: url('georgiai/georgiai.eot') format('embedded-opentype'),
         url('georgiai/georgiai.woff2') format('woff2'),
         url('georgiai/georgiai.woff') format('woff'),
         url('georgiai/georgiai.ttf') format('truetype'),
         url('georgiai/georgiai.svg#georgiai') format('svg');
}
