@font-face {
    font-family: 'AvenirNextCyrMedium';
    src: url('AvenirNextCyrMedium/AvenirNextCyrMedium.eot');
    src: url('AvenirNextCyrMedium/AvenirNextCyrMedium.eot') format('embedded-opentype'),
         url('AvenirNextCyrMedium/AvenirNextCyrMedium.woff2') format('woff2'),
         url('AvenirNextCyrMedium/AvenirNextCyrMedium.woff') format('woff'),
         url('AvenirNextCyrMedium/AvenirNextCyrMedium.ttf') format('truetype'),
         url('AvenirNextCyrMedium/AvenirNextCyrMedium.svg#AvenirNextCyrMedium') format('svg');
}
