@media (min-width: 1200px){
	.container {
	    width: 1200px;
	}
}
body{
	font-family: 'AvenirNextCyrRegular';
	font-size: 18px;
	line-height: 23px;
	color: #282828;
}
.page p{
	font-family: 'AvenirNextCyrMedium';
}
a{
    color: #2687ff;
    text-decoration: none;
}
a:focus{
	outline: 0;
}
/**
All heading
*/
h1,h2,h3,h4,h5,h6{
	line-height: 1.3;	
}
h1{
	font-size: 48px;
}
h2{
	font-size:48px;
}
h3{
	font-size: 36px;
}
h4{
	font-size: 24px;
}
h5{
	font-size: 20px;
}
h6{
	font-size: 19px;
}

h1, h2, h3, h4{
	font-family: 'AvenirNextCyrDemi';
}
h4, h6{
	font-family: 'AvenirNextCyrBold';
}
.font-m,
.font-m p{
	font-family: 'AvenirNextCyrMedium';
}
.font-r,
.font-r p{
	font-family: 'AvenirNextCyrRegular';
}
.font-l,
.font-l p{
	font-family: 'AvenirNextCyrLight';
}
.font-deny{
	font-family: 'AvenirNextCyrDemi';
}


.font-16,
.font-16 p{
	font-size: 16px;
	line-height: 19px;
}
.font-17,
.font-17 p{
	font-size: 17px;
	line-height: 20px;
}
.font-18,
.font-18 p{
	font-size: 18px;
	line-height: 22px;
}
.font-20,
.font-20 p{
	font-size: 20px;
	line-height: 25px;
}

/**
Commons
*/
.first:first-child{
	padding-left: 0;
	margin-left: 0;
}
.last:last-child{
	padding-right: 0;
	margin-right: 0;
}
img{
	max-width: 100%;
	height: auto;
}
/*---- gap -----*/
.gap-5,.gap-10,.gap-15,.gap-20,.gap-25,.gap-30,.gap-35,.gap-40,.gap-45,.gap-50,.gap-60{
display: block;
}
.gap-5:after,.gap-10:after,.gap-15:after,.gap-20:after,.gap-25:after,.gap-30:after,.gap-35:after,.gap-40:after,.gap-45:after,.gap-50:after,.gap-60:after,
.gap-5:before,.gap-10:before,.gap-15:before,.gap-20:before,.gap-25:before,.gap-30:before,.gap-35:before,.gap-40:before,.gap-45:before,.gap-50:before,.gap-60:before
{
clear:both;
display:block;
}

.gap-5{
	height:5px;
}
.gap-10{
	height:10px;
}
.gap-15{
	height:15px;
}
.gap-20{
	height:20px;
}
.gap-25{
	height:25px;
}
.gap-30{
	height:30px;
}
.gap-35{
	height:35px;
}
.gap-40{
	height:40px;
}
.gap-45{
	height:45px;
}
.gap-50{
	height:50px;
}
.gap-60{
	height: 60px;
}
/*---- margin bottom-----*/
.mb-5{
	margin-bottom:5px;
}
.mb-10{
	margin-bottom:10px;
}
.mb-15{
	margin-bottom:15px;
}
.mb-20{
	margin-bottom:20px;
}
.mb-25{
	margin-bottom:25px;
}
.mb-30{
	margin-bottom:30px;
}
.mb-35{
	margin-bottom:35px;
}
.mb-40{
	margin-bottom:40px;
}
.mb-45{
	margin-bottom:45px;
}
.mb-50{
	margin-bottom:50px;
}
.mb-60{
	margin-bottom:60px;
}
/**
All Hovers
*/
a:hover{
	text-decoration: none;
}
header .main-menu ul li a:hover,
header .main-menu ul li.current-menu-item a{
	text-decoration: none;
	color: #55b7cd;
}

/**
All Transitions
*/
a,
button,
.submitbtn{
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
/**
All Transitions
*/
a,img,.cat_img_box a.box-hover,input,textarea{
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.ab{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}

a.bnr_transparent_btn:hover{
	background: #2687ff;
	color: #fff;
}
ul.filter_menu li a:focus{
	outline: none;
}