
.business_sec{
	position: relative;	
}
.business_content{
	height: 624px;
	text-align: center;
	color: #fff;
}
.business_content h2{
	position: relative;
	margin-top: 0;
	margin-bottom: 37px;
	padding: 127px 0 53px;
	text-transform: uppercase;
	text-align: center;
	line-height: 58px;
}
.business_content h2 span::after{
	content: "";
	position: absolute;
	width: 30px;
	height: 3px;
	background: #2687ff;
	left: 50%;
	margin-left: -15px;
	top: 100%;
}
.gap-41 {
	height: 41px;
}
.business_btn{
-webkit-box-shadow: -2px 30px 30px 0px rgba(52, 58, 67, 0.75);
-moz-box-shadow:    -2px 30px 30px 0px rgba(52, 58, 67, 0.75);
box-shadow:         -2px 30px 30px 0px rgba(52, 58, 67, 0.75);
}
.events_sec{
	background: #fff;
	text-align: left;
	padding: 119px 0 222px;	
	font-family: 'AvenirNextCyrMedium';
}

.events_sec h2,
.event_facilitators .video-alone-wrap h2{
	text-align: center;
	position: relative;
	margin-top: 0;
	padding-bottom: 49px;
	margin-bottom: 35px;
	text-transform: uppercase;
	text-align: center;
	line-height: 38px;
}
.event_facilitators .video-alone-wrap h2{
	padding-bottom: 39px;
	margin-bottom: 77px;
}
.events_sec h2 span ,
.event_facilitators .video-alone-wrap h2 span{
	display: inline-block;
}
.events_sec h2 span::after,
.event_facilitators .video-alone-wrap h2 span:after,
.all_works_sec .voluanteers h4 span:after{
	content: "";
	position: absolute;
	width: 30px;
	height: 3px;
	background: #2687ff;
	left: 50%;
	margin-left: -15px;
	top: 100%;
}
.gap-12{
	height: 12px;
}
.gap-115{
	height: 115px;
}
.event_facilitators{
	background: url(../images/events_banner.jpg);
	background-position: center center;
	height: auto;
	padding-bottom: 109px;
}
.events_identity{
	margin-top: -184px;
}
.event_facilitators .name-designation{
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	bottom: 42px;
}
.event_facilitators .name-designation h5{
	position: static;
	transform: translateY(0);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
}
.event_facilitators .name-designation h6{
	font-family: 'georgiai';
	color: #fff;
	margin-top: 19px;
	font-size: 14px;
	line-height: 11px;
	text-transform: capitalize;
	margin-bottom: 0px;
}
.events_identity{
	margin-bottom: 119px;
}
.event_facilitators .hilf_col_inner .hilf_shadow{
	background: url(../images/avt_shadow.png);
	background-repeat: no-repeat;
	bottom: 0;
	top: initial;
}
.event_facilitators .hilf_col_inner:hover .hilf_shadow{
	height: 60%;
	left: 0;
	right: 0;
	bottom: 0;
}
.event_facilitators .hilf_col_inner:hover a{
	border: 1px solid #1676ec;
}
.event_facilitators .video-alone-wrap .alvideo{
	margin: 0 auto;
	display: table;

}
/**
all_works_sec
*/
.all_works_sec{
	background: url(../images/event_bannar.jpg);
	background-position: center;
	background-size: cover;
	padding: 66px 0 97px;
	text-align: center;
}
.all_works_sec .voluanteers h4{
	font-size: 24px;
	line-height: 18px;
	margin-top: 29px;
	padding-bottom: 28px;
	margin-bottom: 0px;
	font-family: 'AvenirNextCyrDemi';
	text-transform: uppercase;
}
.all_works_sec .conference_row{
	margin-top: 41px;
	text-align: left;
	font-size: 16px;
	color: #707070;
	line-height: 19px;
}
.all_works_sec .conference_col img{
	box-shadow: 0 20px 40px 0px rgba(200, 200, 200, 0.75);
	-ms-box-shadow: 0 20px 40px 0px rgba(200, 200, 200, 0.75);
	-webkit-box-shadow: 0 20px 40px 0px rgba(200, 200, 200, 0.75);

}
.all_works_sec .conference_row a{
	color: #74aaff;
	text-decoration: underline;
	display: inline;
 	-ms-word-break: break-all;
     word-break: break-all;

}
.gap-45{
	height: 45px;
}