/**
Page Banner
*/
.page-banner{
	height: 585px;
}
.page-banner h1,
.page-banner p{
	color: #fff;
}
.page-banner-cn h1 {
    padding-bottom: 40px;
    margin-top: 0;
    margin-bottom: 31px;
    position: relative;
}
.page-banner-cn h1 span:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background: #2687ff;
    top: 100%;
}
.text-center h1 span:after{
    left: 50%;
    margin-left: -15px;
}
.text-left h1 span:after{
    left: 0;
}

.keynote-banner-cn{
	padding-top: 145px;
}

/**
Video
*/
.video-alone-wrap{
	max-width: 823px;
	margin: 0 auto;
	padding-bottom: 115px;
}
.alvideo{
    border: 1px solid #2687ff;
    -ms-box-shadow: 0px 15px 100px 0px rgba(0, 0, 0, 0.30);
    -webkit-box-shadow: 0px 15px 100px 0px rgba(0, 0, 0, 0.30);
    box-shadow: 0px 15px 100px 0px rgba(0, 0, 0, 0.30);
}
.videotop{
	position: relative;
  padding-bottom: 80px;
  background: #f3f3f3;
}
.videotop .video-alone-wrap{
	position: relative;
	margin-top: -108px;
}

.video-alone-cn{
	max-width: 670px;
	margin: 0 auto;
}

/**
Form Design
*/
.alvideoform{
	padding: 0 10px;
}
.alvideoform p{
	margin: 0 -10px;
	text-align: center;
  font-size: 20px;
  line-height: 25px;
}
.alvideoform input, 
.alvideoform textarea,
.eventforms input,
.eventforms textarea,
.eventforms input,
.eventforms select,
.eventforms select option
{
  background: transparent;
}
.input,
.textarea,
select{
	max-width: 100%;
	width: 100%;
	margin: 0;
	line-height: 1;
	outline: 0;
	border: 1px solid #000;
	text-align: left;
  font-family: 'AvenirNextCyrRegular';
  font-size: 16px;
}
.input:focus,
.textarea:focus{
	border: 1px solid #2687ff;
}
.input{
	height: 50px;
	padding: 15px 10px 15px 20px;
}
.textarea{
	height: 152px;
	padding: 20px 10px 20px 20px;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
  color: #717171;
  opacity: 1;
}
input::-moz-placeholder,
textarea::-moz-placeholder 
{ /* Firefox 19+ */
  color: #717171;
  opacity: 1;
}
input:-ms-input-placeholder, 
textarea:-ms-input-placeholder 
{ /* IE 10+ */
  color: #717171;
  opacity: 1;
}
input:-moz-placeholder, 
textarea:-moz-placeholder 
{ /* Firefox 18- */
  color: #717171;
  opacity: 1;
}
.submitbtn{
	background: #2687ff;
    position: relative;
    width: 300px;
    text-transform: uppercase;
    display: inline-block;
    height: 65px;
    padding-right: 15px;
    line-height: 65px;
    font-size: 16px;
    color: #fff;
    outline: 0;
    border: 0;	
   -ms-box-shadow: 0px 8px 100px 0 rgba(0, 0, 0, 0.35);
   -webkit-box-shadow: 0px 8px 100px 0 rgba(0, 0, 0, 0.35);
	 box-shadow: 0px 8px 100px 0 rgba(0, 0, 0, 0.35);
}
.submitbtn:after {
    content: "";
    width: 15px;
    height: 12px;
    background: url(../images/arrow-right-wh.png) no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: 81px;
}
.submitbtn:hover{
	background: #0771f5;
}

/**
Review
*/
.review{
	max-width: 775px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 55px;
}
.review-in{
  background: #fff;
	padding: 35px 100px 35px 35px;
  -ms-box-shadow: 0px 15px 90px 0px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0px 15px 90px 0px rgba(0, 0, 0, 0.20);
	box-shadow: 0px 15px 90px 0px rgba(0, 0, 0, 0.20);
}
.reviewimg{
	width: 166px;
	float: left;
}
.reviewcn{
	width: 405px;
	float: right;
}
.review-title{
	min-height: 75px;
}
.reviewcn h3{
	margin: 0;
	font-size: 30px;
	line-height: 30px;
  font-family: 'AvenirNextCyrBold';
}
.review-text{
	min-height: 57px;
}
.review-text p{
  color: #808080;
}
.rating *{
	vertical-align: middle;
}
.rating span{
  display: inline-block;
  padding-top: 5px;
  padding-left: 10px;
}

/**
Event Forms
*/
.eventforms{
  padding-top: 25px;
  padding-bottom: 40px;
  position: relative;
}
label{
	text-transform: uppercase;
	display: block;
	margin-bottom: 16px;
  font-family: 'AvenirNextCyrBold';
  font-size: 16px;
}
.fields .col-sm-6{
	margin-bottom: 30px;
}
.fields .textarea{
	min-height: 216px;
}

.select_box{
  overflow: hidden;
  position: relative;
}
.select_box:after{
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #2687ff;
  position: absolute;
  top: 40%;
  right: 15px;
  content: "";
  z-index: 98;
 }
.select_box select{
-moz-appearance: none;
-webkit-appearance: none;
appearance: none;
  position: relative;
  z-index: 99;
  background: none;
}
.rectbg{
  z-index: 2;
}
.ontopof{
  position: relative;
  z-index: 3;
}
.rectbgimg1{
  background: url(../images/rectfull.png) no-repeat;
  background-size: cover;
  width: 818px;
  height: 819px;
}
.rectbgimg2{
  background: url(../images/rectfullw.png) no-repeat;
  background-size: cover;
  width: 818px;
  height: 819px;
}
.rectbgimg3{
  background: url(../images/rectfullws.png) no-repeat;
  background-size: cover;
  width: 447px;
  height: 497px;
}

.rectbg1{
  max-width: 818px;
  width: 100%;
  height: 819px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
.rectbg1img{
  position: absolute;
  top: -50%;
  left: -5%;
}
.rectbg2{
  max-width: 818px;
  width: 100%;
  height: 819px;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: -195px;  
}
.rectbg2img{
  position: absolute;
  right: -15%;
}

.rectbg3{
  max-width: 818px;
  width: 100%;
  height: 819px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 100px;
}
.rectbg3img{
  position: absolute;
  right: -20%;
}

.rectbg4{
  max-width: 447px;
  width: 100%;
  height: 497px;
  overflow: hidden;
  position: absolute;
  top: 800px;
  left: 0;
}
.rectbg4img{
  position: absolute;
  left: 0;
  top: 0;
}

.rectbg5{
  max-width: 818px;
  width: 100%;
  height: 819px;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 110px;  
}
.rectbg5img{
  position: absolute;
  right: -20%;
}

@media(min-width:1800px){
  .rectbg2img{
    right: -7%;
  }
  .rectbg5img{
    right: 0;
  }
}
