div:focus{
	outline: 0;
}
.sliderbtn{
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.p-lr-10{ padding-left: 15px; padding-right: 15px; }
.row-gap-normal{
	padding-bottom: 90px;
}
.gap-x2{
	height: 155px;
}
.maxw-600{
	max-width: 600px;	
}
.maxw-700{
	max-width: 700px;	
}
.maxw-800{
	max-width: 800px;	
}
.hcenter{
	margin-left: auto;
	margin-right: auto;
}
.bg2rect{
	background: url(../images/bg3ract.png) no-repeat;
	background-size: cover;
	background-position: center;
}	
.bg3rect-fill{
	background: url(../images/bg3ract-fill.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.background-cover{
	background-size: cover!important;
	background-position: center!important;	
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

/**
Page banner
*/
.page-banner{
	position: relative;
}
.page-banner-content{
	padding: 175px 0;
	position: relative;
	z-index: 2;
}
.page-banner-bg{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
}
.page-banner-content h1{
	margin-top: 0;
}
h1.title{
	font-size: 48px;
	text-transform: uppercase;
}
.page-banner-content h1.title{
	padding-bottom: 40px;
	margin-bottom: 31px;
	position: relative;
}
.page-banner-content h1.title:after{
	content: "";
	position: absolute;
	width: 30px;
	height: 3px;
	background: #2687ff;
	left: 0;
	top: 100%;
}
.banner-cn-wrap *{
	color: #fff;
}

/**
Success demand
*/
.section-normal{
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
}
.section-heading h2{
	position: relative;
	margin-top: 0;
	padding-bottom: 45px;
	margin-bottom: 35px;
	text-transform: uppercase;
	text-align: center;
	line-height: 58px;
}
.section-heading h2 span{
	display: inline-block;
}
.section-heading h2 span:after{
	content: "";
	position: absolute;
	width: 30px;
	height: 3px;
	background: #2687ff;
	left: 50%;
	margin-left: -15px;
	top: 100%;
}

.feature-box h6,
.feature-box p,
.feature-box img{
	margin: 0;
	padding: 0;
}
.feature-box{
	padding: 0 20px;
}
.feature-img{
	height: 75px;
	width: 100%;
}
.feature-title{
	height: 110px;
}
.feature-content h6{
	line-height: 23px;
}
.feature-content p{
	font-family: 'AvenirNextCyrLight';
	font-size: 17.5px;
}
.div-table{
	display: table;
	text-align: center;
}
.div-table > div{
	display: table-cell;
	vertical-align: middle;
}

.btnnormal{
	position: relative;
	width: 300px;
	text-transform: uppercase;
	border: 1px solid #2687ff;
	display: inline-block;
	height: 65px;
	padding-right: 15px;
	line-height: 65px;
	font-size: 16px;
	color: #2583f7;
	font-family: 'AvenirNextCyrBold';
}
.btnnormal:after{
	content: "";
	width: 15px;
	height: 12px;
	background: url(../images/arrow-right.png) no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -5px;
	right: 81px;
}

/**
Slider
*/
.sliderItem,
.sliderItemInner{
	position: relative;
}
.testimonials-outer{
	padding-top: 10px;
	padding-bottom: 150px;
}
.testimonials-outer .testimonials-wrap{
	max-width: 883px;
	margin: 0 auto;
	padding: 30px;
	position: relative;
}
.testimonials-wrap .testmonialslider .slick-list{
	border: 1px solid #2687ff;
	box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.35);
}
.sliderItemInner{
	float: left;
}
.sliderImg{
	height: 473px;
	width: 821px;
}

.sliderTriangle {
    width: 821px;
    height: 473px;
    border-top: solid 473px rgba(37,131,247, 0.8);
    border-left: solid 1px rgba(37,131,247, 0.8);
    border-bottom: solid 0px transparent;
    border-right: solid 821px transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
.sliderContent{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 35px;
	z-index: 3;
}
.sliderContentInner{
	max-width: 335px;
}
.sliderbtn{
	width: 120px;
	height: 120px;
	background: #2584fa;
	position: absolute;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 4;
	border-radius: 50%;
	box-shadow: 0px 0 30px 10px rgba(64, 136, 224, 0.70); 
	-ms-box-shadow: 0px 0 30px 10px rgba(64, 136, 224, 0.70); 
	-webkit-box-shadow: 0px 0 30px 10px rgba(64, 136, 224, 0.70); 
	cursor: pointer;
}
.sliderbtn:hover{
	background: #0771f5;
}
/*box-shadow: none|h-shadow v-shadow blur spread color |inset|initial|inherit;*/
.sliderbtn:after {
    content: "";
    background: url(../images/play.png) no-repeat;
    position: absolute;
    width: 79px;
    height: 89px;
    left: 25px;
    top: 29px;
}
.sliderContentInner h3, 
.sliderContentInner p{
	color: #fff;
}
.sliderContentInner h3{
	margin: 0;
	padding-bottom: 16px;
	font-family: 'AvenirNextCyrBold';
}
.sliderContentInner p{
	font-family: 'AvenirNextCyrRegular';
}
.slick-prev, .slick-next{
	height: 50px;
	color: #c6c6c6;
}
.slick-prev:before{
	font-family: 'FontAwesome';
	content: "\f104";
}
.slick-next:before{
	font-family: 'FontAwesome';
	content: "\f105";
}
.slick-prev:before, .slick-next:before{
	color: inherit;
	font-size: 50px;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
	color: #2687ff;
}

.left-qouto{
	width: 169px;
	height: 157px;
	background: url(../images/left-q.png) no-repeat;
	position: absolute;
	left: -89px;
	top: -77px;
}
.right-qouto{
	width: 169px;
	height: 157px;
	background: url(../images/right-q.png) no-repeat;
	position: absolute;	
	right: -89px;
	bottom: -75px;
}

/**
Promo
*/
.promo{
	position: relative;
}
.promo-content{
	height: 502px;
	width: 100%;
}
.promo *{
	color: #fff;
}

/**
Testimonial slider 2
*/
.author-slider-wrap{
	position: relative;
}
.author-slider-outher{
	padding-top: 30px;
}

.asImgholder{
	height: 226px;
	width: 226px;
	background: url(../images/author-bg.png) no-repeat;
	padding: 26px 0 0 45px;
}
.asImgit{
	height: 136px;
	width: 136px;
}
.asItemcn{
	position: relative;
}
.asImgwrap {
    position: absolute;
    top: -110px;
    left: 50%;
    transform: translateX(-50%);
}
.asIteminner{
	padding: 100px 35px 50px;
}
.asItemcn{
	background: #fff;
	padding-top: 115px;
	padding-left: 85px;
	padding-right: 85px;
	padding-bottom: 30px;
	box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.35);
}
.asItemtext{
	min-height: 228px;
}
.asItemtext h3 {
	font-family: 'AvenirNextCyrBold';
    position: relative;
    margin-top: 0;
    padding-bottom: 25px;
    margin-bottom: 25px;
    text-align: center;
}
.asItemtext p{
	font-family: 'georgiai';
	color: #787878;
	font-size: 20px;
	line-height: 24px;
}
.asItemtext h3 span {
    display: inline-block;
}
.asItemtext h3 span:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background: #2687ff;
    left: 50%;
    margin-left: -15px;
    top: 100%;
}
.author-slider-outher .slick-slider{
	padding: 0 120px;
}
.asDate p{
	margin-bottom: 2px;
	color: #9f9f9f;
	font-size: 16px;
}
.aquoteleft{
	width: 169px;
	height: 157px;
	background: url(../images/left-q2.png) no-repeat;
	position: absolute;
    left: 40px;
    top: -5px;
}
.aquoteright{
	width: 169px;
	height: 157px;
	background: url(../images/right-q2.png) no-repeat;
	position: absolute;	
    right: 40px;
    bottom: -17px;
}

.testimonials.section-normal{
	padding-top: 60px;
}

@media(min-width: 1300px){
	.slick-prev{
		left: -120px;
	}
	.slick-next{
		right: -120px;
	}
	.author-slider-outher .slick-prev{
		left: 34px;
	}
	.author-slider-outher .slick-next{
		right: 34px;
	}
}