@font-face {
    font-family: 'AvenirNextCyrRegular';
    src: url('AvenirNextCyrRegular/AvenirNextCyrRegular.eot');
    src: url('AvenirNextCyrRegular/AvenirNextCyrRegular.eot') format('embedded-opentype'),
         url('AvenirNextCyrRegular/AvenirNextCyrRegular.woff2') format('woff2'),
         url('AvenirNextCyrRegular/AvenirNextCyrRegular.woff') format('woff'),
         url('AvenirNextCyrRegular/AvenirNextCyrRegular.ttf') format('truetype'),
         url('AvenirNextCyrRegular/AvenirNextCyrRegular.svg#AvenirNextCyrRegular') format('svg');
}
